PROBLEM STATEMENT:
    to check whether there is any significant difference in the diameter of the cutlet between two units.

In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("C:\\Users\\nilka\\OneDrive\\Desktop\\excelr\\self paced course\\data science assignment\\1.assignments\\3.hypothesis testing\\Cutlets.csv")

In [20]:
data.head()

   Unit_A  Unit_B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit_A  35 non-null     float64
 1   Unit_B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [22]:
data.describe()

          Unit_A     Unit_B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

#hypothesis statements:
H0 :  mean of unit A = mean of unit B  i.e. there is no significance difference
H1 :  mean of unit A != mean of unit B i.e. there is significance difference

In [23]:
#test to be performed
# 2 sample tow tail t test

In [24]:
import statsmodels.api as sm
sm.stats.ttest_ind(data.Unit_A, data.Unit_B)

(0.7228688704677945, 0.47223947245995745, 68.0)

In [ ]:
# comparing p value with significance(alpha) value

#since, 0.472 > 0.05 i.e. p > alpha , we retain H0

#THUS THERE IS NO SIGNIFICANCE DIFFERENCE BETWEEN DIAMETER OF CUTLETS BETWEEN TWO UNITS.